.pane-islandora-audiojs-global-audiojs-global {
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 499;
    width: 100%;
    background: #444;
    margin-bottom: 0px;
}

.pane-islandora-audiojs-global-audiojs-global .audiojs{
    float: right;
}
.audiojs-global-link.silent:after {
    content: '  \f026';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    padding-left: 4px;
    text-decoration: none;
    display: inline-block;
}

.audiojs-global-link.playing:after {
    content: '  \f028';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    padding-left: 4px;
    text-decoration: none;
    display: inline-block;
}

.now-playing {
    max-width: 40%;
    float: right;
    color: white;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

span.audiojs-notice {
    color: #333;
    float: left;
}